.home-container {
  text-align: center;
  padding: 20px;
  background-color: #f4f4f4;
}

.home-title {
  color: #68a7d2;
  background-color: #ecf0f1;

  border-radius: 8px;
  display: inline-block;
  font-size: 38px;
}

.api-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.api-item {
  border: 1px solid #ecf0f1;
  padding: 15px;
  text-align: left;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.api-item:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.api-heading {
  color: #000000;
}

.api-description {
  color: #7f8c8d;
  margin-bottom: 10px;
}

.api-link {
  color: #db3434;
  text-decoration: none;
  display: block;
}

.api-link:hover {
  text-decoration: underline;
}
